:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;


  background: #E7F6FF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  padding:0;
  margin: 0;
  
}
*{
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

.content { 
  width:  1080px;
  background: #FFFFFF;
  margin: 85px auto;
  min-height: 100vh;
  border-radius: 20px;
}

h1,h2,h3,h4,h5,h6, p, span , div , img , a, ul, li {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;

}
.items {
  display: flex;
  flex-wrap: wrap;
  gap: 40px
}
.searchinput {
  outline: none;
  border: none;
  border-bottom: 2px solid lightgray;
  padding:5px;
  transition: border-bottom 0.3s ease-in-out;
}
.searchinput:focus{
  
    border-bottom: 2px solid gray;
   
}